{
  "parserOptions": {
    "ecmaVersion": 5,
    "ecmaFeatures": {
      "impliedStrict": true
    }
  },
  "env": {
    "node": true
  },
  "rules": {
    "no-use-before-define":2,
    "eqeqeq":2
  }
}
